<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Trivia</title>
    <link rel="stylesheet" href="app.css">

    <!-- Bootsdtrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    
  </head>
  <body>
    <header>
      <h1>Trivia Question</h1>
      <h2> Press the correct answer for the given question</h2>
    </header>


    <p><%- question %></p>
    <ol>
      <% answers.forEach(answer => { %>
        <li><button class="btn btn-primary" id="{{$AllAttendee->id}}"><%- answer %></button></li>
      <% }); %>
    </ol>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min-js"></script>
    <script
      src="https://cdn.isdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"
    ></script>

    <script type= "text/javascript">
        $(".btn").click(function () {
          let opt = $(this).text();
          let correct_ans = '<%-correct_ans%>'
          if(opt === correct_ans)alert( 'Correct ');
          else alert('Incorrect ans');
        });
      </script>



    <footer>
      <dl>
        <dt>Category</dt>
        <dd><%- category %></dd>
        <dt>Difficulty</dt>
        <dd><%- difficulty %></dd>
      </dl>
    </footer>
  </body>
</html>